@charset "utf-8";
/* CSS Document */


body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #DCD7D0;
	font-family: 'roboto condensed';
	position: absolute;
}

div{
	box-sizing:border-box;
}

#header {

	background-color: #999999;
	position: fixed;
	width: 100%;
	height: 90px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.28), 0 2px 3px rgba(0,0,0,0.24);
}
#header p {
	margin-top: 10px;
	text-align: center;
	font-size: 55px;
	font-weight: 100;
	letter-spacing: -1px;
	font-style: italic;
	color: #FFFFFF;
}

.container {
	top: 30%;
	position: relative;
	margin: auto;
	width: 60%;
	min-width: 755px;
}
.buttons {
	margin: auto;
	width: 80%;
}
.badge {
	background-color: #DCD7D0;
	font-size: 25px;
	color: black;

}
.floatLeft {
	float: left;
	padding: 10px 05px 10px 20px;
	margin-bottom: 40px;
	background-color: #999999;
	border-radius: 6px;
	font-size: 25px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.28), 0 2px 3px rgba(0,0,0,0.24);
}
.floatRight {
	float: right;
	padding: 10px 20px;
	margin-bottom: 40px;
	background-color: #999999;
	border-radius: 6px;
	font-size: 25px;
	box-shadow: 0 3px 3px rgba(0,0,0,0.28), 0 2px 3px rgba(0,0,0,0.24);
}
.table-bordered{
	border: solid #999999 2px;
	border-radius: 5px;
	font-size: 20px;
	background-color: #F5F5F5;
}
.table-bordered .table_head{
	border-bottom: solid #999999 2px;

}

.edit_button{
	float: right;
	margin-top: 7px;
}
#edit1 {
	background-color: #FFE0B2;
}

/*
.row {
	width: 100%;
}
.row div{
	float: left;
	height: 100%;
	display: table-cell;
	white-space: nowrap;
	text-overflow:ellipsis;

}
.row div:first-child{
	padding-left: 0px;
}
.titles {
	clear: both;
	padding-top: 0px;
	display: table-row;
	width: 100%;
	text-align: center;
	font-weight: 600;
}
.titles div {
	border-right: solid #999999 1px;
	display: table-cell;
	width: 10%;
	min-width:150px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 10px;

}
.rowContents {
	clear: both;
	padding-left: 0px !important;
	display: table-row;
	width: 100%;
	text-align: left;

}
.rowContents div {
	border-right: solid #999999 1px;
	display: table-cell;
	width: 10%;
	min-width:150px;
	padding-left: 15px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.lastcolumn {
	border: none !important;
}
.border {
	border-top: solid #999999 1px;
	clear: both;
	width: 100%;
}
 */